.DS_Store
node_modules/
dist/
config/prod.env.js
config/dev.env.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*
.env
debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln